In [5]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

# Extract table from URL

In [3]:
#imdb url
url = "https://www.imdb.com/chart/top?ref_=ft_250"

In [4]:
#extract table from imdb website 
tables = pd.read_html(url)
tables[0].head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [5]:
#create dataframe with selected columns from above table
imdb_movies_df = tables[0][['Rank & Title', 'IMDb Rating']]

In [6]:
#change the name of the Rank & Title column to have no spaces for easy reference when splitting the column
imdb_movies_df= imdb_movies_df.rename(columns={'Rank & Title':'Rank_Title'})

In [7]:
#split the rank & title column and rename the columns
imdb_movies_df['rank'] = imdb_movies_df.Rank_Title.str.split('.', expand = True)[0]
imdb_movies_df['Title'] = imdb_movies_df.Rank_Title.str.split('.', expand = True)[1]
imdb_movies_df['title'] = imdb_movies_df.Title.str.split('(', expand = True)[0]
imdb_movies_df['Year'] = imdb_movies_df.Title.str.split('(', expand = True)[1]
imdb_movies_df['year'] = imdb_movies_df.Year.str.split(')', expand = True)[0]

In [8]:
#chose and reorder the columns from the above dataframe
imdb_movies_df= imdb_movies_df [["rank", "title", "year", "IMDb Rating"]]
imdb_movies_df.head()

  rank                         title  year  IMDb Rating
0    1    The Shawshank Redemption    1994          9.2
1    2               The Godfather    1972          9.2
2    3      The Godfather: Part II    1974          9.0
3    4             The Dark Knight    2008          9.0
4    5                12 Angry Men    1957          8.9

# Extract data from CSV

In [10]:
#create path to the csv file 
csv_file = "tmdb_5000_movies.csv"

#convert csv file to dataframe
tmdb_movies_df = pd.read_csv(csv_file)

In [11]:
#create dataframe with selected columns from above table
tmdb_movies_df = tmdb_movies_df[['genres','homepage','original_language','overview','production_companies',
                                 'runtime', 'title','vote_average', 'vote_count'
                                 ]]

In [12]:
#split and rename the genres and production_companies columns
tmdb_movies_df['genre'] = tmdb_movies_df.genres.str.split(':', expand = True)[2]
tmdb_movies_df['genre'] = tmdb_movies_df.genre.str.split('}', expand = True)[0]
tmdb_movies_df['production_company'] = tmdb_movies_df.production_companies.str.split(':', expand = True)[1]
tmdb_movies_df['production_company'] = tmdb_movies_df.production_company.str.split(',', expand = True)[0]

In [13]:
#chose and reorder the columns from the above dataframe
tmdb_movies_df= tmdb_movies_df[['genre','homepage','original_language','overview','production_company',
                                 'runtime', 'title','vote_average', 'vote_count'
                                 ]]
tmdb_movies_df.head()

,genre,homepage,original_language,overview,production_company,runtime,title,vote_average,vote_count
0,"""Action""",http://www.avatarmovie.com/,en,"In the 22nd century, a paraplegic Marine is di...","""Ingenious Film Partners""",162.0,Avatar,7.2,11800
1,"""Adventure""",http://disney.go.com/disneypictures/pirates/,en,"Captain Barbossa, long believed to be dead, ha...","""Walt Disney Pictures""",169.0,Pirates of the Caribbean: At World's End,6.9,4500
2,"""Action""",http://www.sonypictures.com/movies/spectre/,en,A cryptic message from Bond’s past sends him o...,"""Columbia Pictures""",148.0,Spectre,6.3,4466
3,"""Action""",http://www.thedarkknightrises.com/,en,Following the death of District Attorney Harve...,"""Legendary Pictures""",165.0,The Dark Knight Rises,7.6,9106
4,"""Action""",http://movies.disney.com/john-carter,en,"John Carter is a war-weary, former military ca...","""Walt Disney Pictures""",132.0,John Carter,6.1,2124

# Extract data from second CSV

In [14]:
#create path to the csv file 
csv_file_2 = "cast.csv"

#convert csv file to dataframe
cast = pd.read_csv(csv_file_2)

In [15]:
#create dataframe with selected columns from above table
cast_df = cast[['director','title','star','writer']]
cast_df.head()

         director                     title               star         writer
0      Rob Reiner               Stand by Me        Wil Wheaton   Stephen King
1     John Hughes  Ferris Bueller's Day Off  Matthew Broderick    John Hughes
2      Tony Scott                   Top Gun         Tom Cruise       Jim Cash
3   James Cameron                    Aliens   Sigourney Weaver  James Cameron
4  Randal Kleiser   Flight of the Navigator        Joey Cramer  Mark H. Baker

# Load DataFrames into DataBase

In [16]:
connection_string = "username:password@127.0.0.1/movies?charset=utf8mb4"
engine = create_engine(f'mysql+pymysql://{connection_string}', pool_size=10, max_overflow=50)

In [17]:
#load tmdb movies dataframe into database, create table called movielist
tmdb_movies_df.to_sql(name='movielist', con=engine, if_exists='append', index=False)

In [18]:
#load imdb movies dataframe into database, create table called ratings
imdb_movies_df.to_sql(name='ratings', con=engine, if_exists='append', index=False)

In [19]:
#load cast dataframe into database, create table called cast
cast_df.to_sql(name='cast', con=engine, if_exists='append', index=False)