In [1]:
#variables for configuration
#username = root
#password = cookies25

In [2]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

# Extract table from URL

In [3]:
#imdb url
url = "https://www.imdb.com/chart/top?ref_=ft_250"

In [4]:
#extract table from imdb website 
tables = pd.read_html(url)
tables[0].head()

,Unnamed: 0,Rank & Title,IMDb Rating,Your Rating,Unnamed: 4
0,NaN,1. The Shawshank Redemption (1994),9.2,12345678910 NOT YET RELEASED Seen,NaN
1,NaN,2. The Godfather (1972),9.2,12345678910 NOT YET RELEASED Seen,NaN
2,NaN,3. The Godfather: Part II (1974),9.0,12345678910 NOT YET RELEASED Seen,NaN
3,NaN,4. The Dark Knight (2008),9.0,12345678910 NOT YET RELEASED Seen,NaN
4,NaN,5. 12 Angry Men (1957),8.9,12345678910 NOT YET RELEASED Seen,NaN

In [5]:
#create dataframe with selected columns from above table
imdb_movies_df = tables[0][['Rank & Title', 'IMDb Rating']]

In [6]:
#change the name of the Rank & Title column to have no spaces for easy reference when splitting the column
imdb_movies_df= imdb_movies_df.rename(columns={'Rank & Title':'Rank_Title'})

In [7]:
#split the rank & title column and rename the columns
imdb_movies_df['rank'] = imdb_movies_df.Rank_Title.str.split('.', expand = True)[0]
imdb_movies_df['Title'] = imdb_movies_df.Rank_Title.str.split('.', expand = True)[1]
imdb_movies_df['title'] = imdb_movies_df.Title.str.split('(', expand = True)[0]
imdb_movies_df['Year'] = imdb_movies_df.Title.str.split('(', expand = True)[1]
imdb_movies_df['year'] = imdb_movies_df.Year.str.split(')', expand = True)[0]

In [8]:
#chose and reorder the columns from the above dataframe
imdb_movies_df= imdb_movies_df [["rank", "title", "year", "IMDb Rating"]]
imdb_movies_df.head()

  rank                         title  year  IMDb Rating
0    1    The Shawshank Redemption    1994          9.2
1    2               The Godfather    1972          9.2
2    3      The Godfather: Part II    1974          9.0
3    4             The Dark Knight    2008          9.0
4    5                12 Angry Men    1957          8.9