In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

# Extract data from second CSV

In [2]:
#create path to the csv file 
csv_file_2 = "cast.csv"

#convert csv file to dataframe
cast = pd.read_csv(csv_file_2)

In [3]:
#create dataframe with selected columns from above table
cast_df = cast[['director','title','star','writer']]
cast_df.head()

         director                     title               star         writer
0      Rob Reiner               Stand by Me        Wil Wheaton   Stephen King
1     John Hughes  Ferris Bueller's Day Off  Matthew Broderick    John Hughes
2      Tony Scott                   Top Gun         Tom Cruise       Jim Cash
3   James Cameron                    Aliens   Sigourney Weaver  James Cameron
4  Randal Kleiser   Flight of the Navigator        Joey Cramer  Mark H. Baker